html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}
a {
  color: #3c4043;
}
li :hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-div {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.logo-container,
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  padding-top: 35px;

}
.logo-container{
  padding-top: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.google-logo {
  position: relative;
  height: 100%;
  margin-top: auto;
}

button[type="button"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.bar {
  width: 580px;
  height: 28;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  display: flex;
  padding: 10px 8px 8px 10px;
  justify-content: center;
  align-items: center;
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.sbar {
  height: 30px;
  border: none;
  width: 510px;
  font-size: 16px;
  outline: none;
}
.s-icon,
.m-icon {
  width: 24px;
  height: 24px;
}

button[type="button"]:hover {
  border: 1px solid #c8c8c8;
}

button[type="button"]:focus {
  border: 1px solid #4885ed;
}

li {
  float: right;
  display: flex;
}
li,
a {
  padding: 4px;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}
.avatar :hover {
  border: 1px solid #c8c8c8;
}
.apps {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.top {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}
.nav-l {
  font-size: 13px;
}
